.idea/
*.iml
*/*.iml
**/target/
ui/node_modules/
node_modules/
logs/
ui/node/
ui/.pnp
ui/.pnp.js
ui/coverage
ui/build
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
common-component/target/
common-model/target
klimaton-authorization/target
klimaton-gw/target
*/target